<% content_for(:title, "Nieuws") %>
<% content_for(:lang, "nl") %>

<section class="news">
  <div class="intro">
    <header>
      <h1>AdLit Nieuws</h1>
    </header>
  </div>
  <div class="articles">
    <% @news_articles.each do |article| %>
      <article class="news-item">
        <aside>
          <%= image_tag attachment_url(article, :image, :fill, 282, 153) %> 
        </aside>
        <div class="content">
          <header>
            <h1><%= link_to article.title, news_article_path(article) %></h1>
            <p class="date"><time datetime="<%= article.created_at %>"><%= article.created_at.strftime('%d %B %Y') %></time></p>
          </header>
          <p class="summary"><%= truncate(article.body, length: 150, separator: ' ') %></p>
        </div>
      </article>
    <% end %>
  </div>
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/AdLitSBO" data-widget-id="568743818934378496">Tweets by @AdLitSBO</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</section>


