<% content_for(:title, @news_article.title) %>
<% content_for(:lang, "nl") %>

<article class="news-article">
  <div class="breadcrumb">
    <%= link_to "Nieuws", news_path %>
    <a href="javascript:void(0)"><%= @news_article.title %></a>
  </div>
  <header>
    <h1><%= @news_article.title %></h1>
    <p class="date"><time datetime="<%= @news_article.created_at %>"><%= @news_article.created_at.strftime('%d %B %Y') %></time> | <% if @news_article.news_category.present? %><%= @news_article.news_category.name %><% end %></p>
  </header>
  <aside>
    <%= image_tag attachment_url(@news_article, :image, :fill, 400, 217) %> 
  </aside>
  <div class="content">
    <p>
      <%= simple_format(@news_article.body) %>
    </p>
    <ul class="extra">
      <% if @news_article.document_id? %>
      <li><i class="fa fa-download"></i><%= link_to @news_article.document_filename, attachment_url(@news_article, :document) %></li>
      <% end %>
      <% if @news_article.link? %>
      <li><i class="fa fa-link"></i><%= link_to @news_article.link, @news_article.link, class: "underline" %></li>
      <% end %>
    </ul>
  </div>
</article>


