<% content_for(:title, "Onderzoeksproject rond reclamewijsheid bij minderjarigen") %>
<% content_for(:lang, "nl") %>
<%= render 'scroll' %>
  <div id="fullpage">
  <div class="section home">
    <div class="hero">
      <h1>AdLit, een onderzoeksproject rond reclamewijsheid bij minderjarigen</h1>
    </div>
    <div class="cta">
      <form action="#info" method="get">
        <button>Ontdek het project</button>
      </form>
      <form action="http://reclamewijs.ugent.be/" method="get">
        <button>Game jezelf reclamewijs</button>
      </form>
    </div>
  </div>
  <div class="section news-summary">
    <div class="grid-items">
      <% @news_articles.each do |article| %>
        <%= link_to news_article_path(article), class: "grid-item", data: { no_turbolink: true } do %> 
          <%= image_tag attachment_url(article, :image, :fill, 300, 150) %>
          <h1><%= article.title %></h1>
        <% end %>
      <% end %>
    </div>
    <div class="more-news">
      <p class="read-more"><%= link_to 'Meer nieuws', news_path, class: 'underline', data: { no_turbolink: true } %></p>
  </div>
  </div>
  <div class="section info">
    <div class="boxes">
      <div class="box">
        <p class="icon"><i class="fa fa-users large"></i></p>
        <h2><%= link_to 'Wie zijn we?', team_path, class: 'underline', data: { no_turbolink: true } %></h2>
        <p>AdLit staat voor ‘advertising literacy’ of reclamewijsheid. Het is een interdisciplinair onderzoeksproject, gefinancierd door het IWT. Ons team bestaat uit 19 onderzoekers verbonden aan 4 Vlaamse universiteiten, en diverse stakeholders, waaronder beleidsmakers, maatschappelijke actoren, onderwijs gerelateerde stakeholders en stakeholders uit de reclame- en media-industrie.</p>
      </div>
      <div class="box">
        <p class="icon"><i class="fa fa-suitcase large"></i></p>
        <h2><%= link_to 'Wat doen we?', project_path, class: 'underline', data: { no_turbolink: true } %></h2>
        <p>Het voornaamste doel van het project is kinderen en jongeren bewust te leren omgaan met reclame, zodat ze opgroeien tot geïnformeerde consumenten. Om dit te bereiken wil AdLit een overzicht bieden van de huidige reclamewijsheid in Vlaanderen, in kaart te brengen hoe deze reclamewijsheid verhoogd kan worden en hoe regelgeving en beleid minderjarigen kan beschermen.</p>
      </div>
      <div class="box">
        <p class="icon"><i class="fa fa-newspaper-o large"></i></p>
        <h2><%= link_to 'Rapporten en publicaties', output_path, class: 'underline' %></h2>
        <p>Om onze doelstellingen te bereiken worden er, verspreid over de vierjarige looptijd van het project, tal van deliverables vooropgesteld. Deze omvatten zowel onderzoeksrapporten als wetenschappelijke publicaties en presentaties rond diverse, aan reclamewijsheid gerelateerde topics.</p>
      </div>
      <div class="box">
        <p class="icon"><i class="fa fa-university large"></i></p>
        <h2><%= link_to 'Valorisatie', output_path, class: 'underline' %></h2>
        <p>Binnen AdLit trachten we wetenschappelijk onderzoek door te vertalen naar maatschappelijke toepassingen of valorisatie in Vlaanderen. Daarom worden heel wat brochures, video’s, spelletjes en educatief materiaal ontwikkeld gericht naar kinderen en jongeren, maar ook naar ouders, leerkrachten, opvoeders en de media- en reclame industrie.</p>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>

<script>
 $(document).ready(function() {
   $('#fullpage').fullpage(
    {
    anchors: ['home', 'news-summary', 'info'],
    menu: '#home-menu',
    autoScrolling: false
    }
   );
}); 
</script>

