<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "HOME", root_path %></li>
        <li class="nav-link" data-menuanchor="news-summary"><%= link_to "NIEUWS", news_path  %></li>
        <li class="nav-link"><%= link_to "TEAM", team_path  %></li>
        <li class="nav-link"><%= link_to "PROJECT", project_path %></li>
        <li class="nav-link"><%= link_to "OUTPUT", output_path %></li>
        <li class="nav-link lang"><i class="fa fa-flag nav"></i><a href="#"><%= link_to "EN", english_path %></li>
        <li class="nav-link"><i class="fa fa-map-marker"></i><%= link_to "CONTACT", contact_path %></li>
        <% if current_user %>
          <li class="nav-link"><i class="fa fa-dashboard nav"></i><%= link_to "Beheer", admin_path %></li>
          <li class="nav-link"><i class="fa fa-sign-out nav"></i><%= link_to "Sign Out", session_path, method: :delete %></li>
        <% end %>
      </ul>
      <% if !cookies[:saved_subscription] %>
        <% if !current_user %>
          <%= form_tag subscribe_path, method: "get", id: "subscribe" do  %>
            <%= submit_tag "Subscribe to Newsletter" %>
          <% end %>
        <% end %>
      <% end %>
    </nav>
  </div>
</header>

<script>
  $(document).ready(function() {
    var menuToggle = $('#js-mobile-menu').unbind();
    $('#js-navigation-menu').removeClass("show");

    menuToggle.on('click', function(e) {
      e.preventDefault();
      $('#js-navigation-menu').slideToggle(function(){
        if($('#js-navigation-menu').is(':hidden')) {
          $('#js-navigation-menu').removeAttr('style');
        }
      });
    });
  });
</script>


