<% content_for(:title, "Team") %>
<% content_for(:lang, "nl") %>
<section class="team">
  <div class="intro">
    <header>
      <h1>AdLit Team</h1>
      <p>AdLit bestaat uit onderzoekers en stakeholders uit verschillende domeinen.<br>
      <%= link_to stakeholders_path, class: "underline" do %>
      Klik hier voor een overzicht van alle betrokken stakeholders.</p> 
    <% end %></p>
    <p>Het AdLit project wordt gecoördineerd vanuit de Universiteit van Gent, onderzoeksgroep CEPEC. Hieronder vind je een overzicht van de academische partners, verbonden aan vier Vlaamse universiteiten.</p>
    </header>
  </div>
  <div class="members">
    <% @members.each do |member| %>
      <div class="team-member" data-mh="block">
        <%= link_to member_path(member) do %>
          <%= image_tag attachment_url(member, :image, :fill, 250, 250) %> 
        <% end %>
        <h2><%= link_to member.name, member_path(member) %></h2>
        <p><%= member.affiliation %><br /><%= member.organization %></p>
      </div>
    <% end %>
  </div>
</section>


